@import 'normalize.css';

* {
    margin: 0;
}

.container {
    background-color: hsl(240, 90%, 4%);
    padding : 21px 166px 21px 166px;
    margin: 0 auto;
}

header {
    display: flex;
    gap: 100px;
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-list{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.nav-list li {
    color: #FFFFFF;
    font-size : 16px;
    font-weight: 600;
}

.treat {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo {
    display: flex;
    align-items: center;
    
}

.phone-number {
    width: 425px;
    color: #FFFFFF;
    font-family: Poppins;
    font-size : 16px;
    font-weight: 600;
    display: flex;
    justify-content: end;
    align-items: center;    
    gap: 5px;
}

main {
    display: flex;
    flex-direction: column;
}

.welcome-container {
    display: flex;
    justify-content: space-between;
    /* padding : 21px 166px 21px 205px; */
    align-items: center;
    border: 1px solid #EDEDED;
}

#welcome-text {
    color: #212529;
    font-family: Poppins;
    font-size : 20px;
    font-weight: 400;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

#search-input {
    border: 1px solid #CED4DA;
    width: 252px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-sizing: border-box;
    padding: 15px 40px;
}

#search-input::placeholder {
    color: #B1B1B1;
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
}

#search-icon {
    position: absolute;
    top: 25%;
    left: 5px;
}

.appointment {
    display: flex;
    /* justify-content: center; */
    padding-top: 30px;
    padding-left: 13.5%;
}

.appointment-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.appointment-title h2 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 36px;
    color: #010114;
}

.appointment-form-container {
    display: flex;
    gap: 40px;  
    flex-direction: row;
    position: relative;
}

.appointment-form {
    background-color: #F1F1F1;
    display: flex;
    gap: 12px;
    flex-direction: column;
    padding: 32px 4px 32px 4px;
}

.form-list-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0 10px 2px;
    position: relative;
}

.form-list {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    color: #010114;
    list-style: none;
    cursor: pointer;
}

.popup {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 252px;
    right: 0;
    top: 100%;
    background-color: #F1F1F1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    /* position: absolute;
    right: 42%; */

    flex-direction: column;
    padding: 32px 4px 32px 4px;
}

.popup ul {
    list-style: none;
    display: flex;
    gap: 50px;
    flex-direction: column;
    padding: 0 30px 0px 30px;
}

.popup ul li {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    color: #010114;
    cursor: pointer;
}

.popup ul li:hover {
    background-color: #f1f1f1;
}

.active {
    color: #010114; 
}

.inactive {
    color: gray;
}

.arrow-icon {
    color: #333;
    font-size: 15px; 
    margin: 10px; 
}