@import 'normalize.css';

* {
    margin: 0;
}

header {
    height: 92px;
    background-color: hsl(240, 90%, 4%);
    padding : 21px 166px 21px 166px;
    display: flex;
    gap: 10px;
    margin: 0 auto;
}

nav {
    height: 50px;
}

nav-list{
    display: flex;
    gap: 30px;
    list-style: none;
    color: #FFFFFF;
}

nav-list li {
    color: #FFFFFF;
}