@import 'normalize.css';

* {
    margin: 0;
}

header {
    width: 80%;
    height: 50px;
    background-color: hsl(240, 90%, 4%);
    padding : 21px 166px 21px 166px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

nav {
    /* height: 50px; */
    display: flex;
    /* justify-content: start; */
    /* justify-content: center; */
}

.nav-list{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.nav-list li {
    color: #FFFFFF;
    font-size : 16px;
    font-weight: 600;
}

.treat {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone-number {
    color: #FFFFFF;
    font-family: Poppins;
    font-size : 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 5px; */
}